@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#portada {
    height: 100vh;
}

p {
    font-size: 1em;
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Montserrat';
}

h2 {
    font-family: 'Montserrat';
}

h3 {
    font-family: 'Montserrat';
}

.img-curso {
    height: 150px;
    width: 190px;
}

.skills-logos {
    display: flex;
    text-align: center;
    justify-content: space-around;
}